/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Monaco&family=JetBrains+Mono&family=ZCOOL+KuaiLe&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 255 179 170;
		--color-on-primary: 255 255 255;
		--color-primary-container: 111 247 246;
		--color-on-primary-container: 0 32 32;
		--color-error: 224 26 26;
		--color-on-error: 255 255 255;
		--color-error-container: 255 218 214;
		--color-on-error-container: 65 0 2;
	}
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Monaco", "JetBrains Mono", "ZCOOL KuaiLe", "Poppins";
}

   /*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px !important;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
::-webkit-scrollbar-thumb {/*滚动条里面滚动条*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  /* background-color: rgba(0,0,0,0.2); */
  background-color: #686868;
}
::-webkit-scrollbar-track {/*滚动条里面轨道（背景）*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background-color: rgba(0,0,0,0.1);
}
